<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  internalLogFile="D:\\cprojects\\TestProject1\\TestProject1\\InternalLogs.log"
	  >
	<targets>
		<target name="console" xsi:type="Console" />
		<target name="logfile" xsi:type="File" fileName="${basedir}../../../log.txt"
			layout="${longdate}
			Trace: ${stacktrace} 
			${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="console,logfile" />
	</rules>

</nlog>